p {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: antiquewhite;
    padding: 0;
    padding-top: 50px;
}

.image {
    text-align: center;
}
.image img{
    border-radius: 50%;
    max-width: 40%;
    border: 1px solid black;
}

.content {
    margin-top: 30px;
    width: 70%;
    height: auto;
    margin: auto;
}